@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

$light-black: #1e213a;
$black: #100e1d;
$card: #1e213a;
$white: #e7e7eb;
$grey: #a09fb1;
$brown: #6e707a;
$light-grey: #88869d;
