@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

$light-black: #1E213A;
$black: #100E1D;
$card: #1E213A;
$white: #E7E7EB;
$grey: #A09FB1;
$brown: #6E707A;
$light-grey: #88869D;